@font-face {
    font-family: 'fira-sans';
    font-weight: 700;
    src: url("/src/assets/fonts/fira-sans-condensed-bold.ttf") format('truetype');
    }
  
  @font-face {
    font-family: 'nuito-sans';
    font-weight: 400;
    src: url("/src/assets/fonts/nuito-sans-regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'nuito-sans';
    font-weight: 600;
    src: url("/src/assets/fonts/nuito-sans-semi-bold.ttf") format('truetype');
  }

  @font-face {
    font-family: 'nuito-sans';
    font-weight: 700;
    src: url("/src/assets/fonts/nuito-sans-bold.ttf") format('truetype');
  }

  @font-face {
    font-family: 'nuito-sans';
    font-weight: 800;
    src: url("/src/assets/fonts/nuito-sans-extra-bold.ttf") format('truetype');
  }